{% extends 'base.html' %}

{% block content %}
<br />
<form method="PUT" action="/accounts/profile/edit" enctype="multipart/form-data">
{% csrf_token %}
<div class="row">
    <div class="col-2">
        {% if profile.image %}
        <img src="{{ profile.image.url }}" class="img-fluid" />
        {% endif %}
        <label class="btn btn-default btn-file">
        Change image<input type="file" name="image" style="display: none;">
        </label>
    </div>
    <div class="col-10">
        <h1><input type="text" name="username" value="{{ user.username }}" /></h1>
        <input class="btn btn-primary" type="submit" value="Save Changes" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-2">
    </div>
    <div class="col">
        <p>Email:</p>
        <p>Location:</p>
    </div>
    <div class="col">
        <p><input type="text" name="email" value="{{ user.email }}" /></p>
        <p><input type="text" name="location" value="{{ profile.location}}" /></p>
    </div>
</div>
</form>
<br />
<div class="row">
</div>


{% endblock %}