{% extends 'base.html' %}

{% block content %}
<br />
<div class="row">
    <div class="col-2">
        <img src="{{ profile.image.url }}" class="img-fluid" />
    </div>
    <div class="col-10">
        <h1>{{ user.username }}</h1>
        <a>Edit profile</a>
    </div>
</div>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col">
        <p>Joined:</p>
        <p>Games Played:</p>
        <p>Games Won:</p>
        <p>Rank:</p>
        <p>Location:</p>
    </div>
    <div class="col">
        <p>{{ profile.joined|date:'M j, Y' }}</p>
        <p>{{ profile.games_played }}</p>
        <p>{{ profile.games_won }}</p>
        <p>{{ profile.get_rank_display }}</p>
        <p>{{ profile.location|default:"Unavailable" }}</p>
    </div>
</div>
<br />
<div class="row">
</div>


{% endblock %}